/* Open Layers styling */

.olImageLoadError {
    display: none !important;
}

.olButton {
    background-color: rgba(0,0,0,0.7) !important;
    -webkit-backface-visibility: hidden;
    border-radius:0px !important;
    width:40px!important;
    height:40px!important;
    line-height:40px!important;
    font-size:19px!important;
    font-family: Menlo, Courier, Courier New !important;
}

.olControlZoom {
    border-radius:0px !important;
    background-color:transparent !important;
}

/* Avgrund overrides */

.avgrund-popup {
    border-radius: 0px;
    z-index: 300;
    height: auto !important;
}

/* Layer selector */

select {
    background-color:#f6f6f6;
    /* checkmark breaks on safari if size is larger than 20px */
    font-size:20px !important;
    line-height:20px;
    height:40px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    display: inline-block;
}

.customSelectInner {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

select:focus {
    outline: none;
}

.itemLink, .itemLink:hover {
    padding:3px;
    padding-left:4px;
    padding-right:4px;
    text-decoration:none;
    border:1px solid transparent;
    border-radius:2px;
}

.itemLink.active, .itemLink.active:hover {
    border-color:#333;
    background-color:#333;
    color:#eee;
}

/* Slider styling */

.slider {
    float:right;
    width:200px!important;
    margin-top:17px;
}

/* Page styling */

#mainPanel {
    position:absolute;
    top:0;
    right:0;
    margin:0;
    overflow:hidden;
    z-index:100;
    text-align:right;
}

#map {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
}

body,html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    font-size: 14px;
    line-height: 19px;
}

div.mapDetails {
    position:absolute;
    top:245px;
    bottom:110px;
    right:-10px;
    left:-10px;
    background-color:#f9f9f9;
    -webkit-box-shadow: inset 0px 0px 10px 1px #ccc;
            box-shadow: inset 0px 0px 10px 1px #ccc;
            
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.mapDetails div {
    position:absolute;
    left:10px;
    top:0;
    right:10px;
    bottom:0;
    overflow-y:auto;
    padding:20px;
}

.mapDetails div p {
    line-height:120%;
}

.mainPanelContent {
    padding:20px;
    padding-top:0px;
}

.mainPanelContent div {
    margin-top:14px;
    margin-bottom:14px;
}

.itemToggle {
    display:inline;
}

.itemToggle, .customSelectInner {
    color: #05f;
    text-decoration: none;
    border-bottom: 1px #05f dotted;
}

body.dark-bg .itemToggle {
    color: #59f;
    border-bottom-color: #59f;
}

body.dark-bg .topLabel {
    color: #eee;
}

body.dark-bg #infoBox h1 {
    color: #eee;
}

.mapLink {
    margin:5px;
}

body {
    background-color:black;
}

#pageContent {
    background-color:white;
}

html, body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

.topLabel, h1, .itemToggle, .customSelectInner, select {
    font-size: 32px;
    font-weight: 300;
    -webkit-backface-visibility: hidden;
}

h1 {
    margin-top:0px;
}

h3 {
    margin-top:0px;
    color: #444444;
}

#pageContent {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    padding:0;
}

#infoBox {
    position:absolute;
    right:0px;
    bottom:0px;
    cursor:pointer;
    z-index:200;
}

#infoBox h1 {
    position:absolute;
    right:20px;
    bottom:5px;
    width:400px;
    text-align:right;
    
    margin:0;
    padding-bottom:10px;
}
.social-buttons {
    margin-top:20px;
}

#infoLink:hover {
    background-color:#111;
}

h3 {
    font-weight:300;
}


ul li {
    font-size: 80%;
}

.footerLink {
    margin-top:40px;
}

.topLabel {
    -webkit-backface-visibility: hidden;
    margin-right:5px;
}

a {
    color: #4482E1;
}  

ul {
    list-style: none;
    margin: 0;
    padding:0;
    padding-left: 1em;
    text-indent: -1em;
}

li {
    margin-top:0.4em;
    line-height: 1.45em;
}

ul li:before {
    content: "\00BB \0020";
}